<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> HOME PAGE </title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >

</head>
<body>
<div class="container">
	<div class="row">
		<div th:replace="~{navBarFragment}"></div>
	</div>
	<div class="row">
		<h3> HOME PAGE </h3>
	</div>
	<div class="row">
		<div th:if="${adminRole}">
			<p> Create one 
			<a href="/user/list">User management</a>
			</p>
		</div>
	</div>
</div>
</body>
</html>